<div class="container-fluid" style="padding: 0%;" >
    <img  src="../../assets/Men/homebg5.jpg" alt="">
  </div>
  
  
  <br>
  
  
    <!--Responsive cards-->
    <!--Shirts-->
    <div class="main p-3">
      <h1 style="text-align: center; ">Men: Topwear</h1>
      <ul class="cards">
        <li class="cards_item col-md-4 col-sm-6 col-6">
          <div class="card">
            <div class="card_image" ><img (click)="viewTopware($event)" data-name="White Cherckerd Casual Shirt" data-price="750" src="../../assets/Men/1.White Cherckerd Casual Shirt.jpg" data-per="90" ></div>
            <div class="card_content">
              <h2 class="card_title">White Check..<span >₹750</span></h2>
              <p class="card_text">White Check Casual Shirt</p>
            </div>
          </div>
        </li>
        <li class="cards_item col-md-4 col-sm-6 col-6">
          <div class="card">
            <div class="card_image"><img (click)="viewTopware($event)" data-name="Men Pink Regular Shirt" data-price="640" src="../../assets/Men/2.Men Pink Regular Fit Formal Shirt.jpg" data-per="95"></div>
            <div class="card_content">
              <h2 class="card_title">Men Regular..<span >₹640</span></h2>
              <p class="card_text">Men Pink Regular Shirt</p>
            </div>
          </div>
        </li>
        <li class="cards_item col-md-4 col-sm-6 col-6">
          <div class="card">
            <div class="card_image"><img (click)="viewTopware($event)" data-name="Men White Regulat Shirt" data-price="810" src="../../assets/Men/3.Men White Regulat Fit Formal Shirt.jpg" data-per="90"></div>
            <div class="card_content">
              <h2 class="card_title">Men White..<span >₹810</span></h2>
              <p class="card_text">Men White Regulat Shirt</p>
            </div>
          </div>
        </li>
        <li class="cards_item col-md-4 col-sm-6 col-6">
          <div class="card">
            <div class="card_image"><img (click)="viewTopware($event)" data-name="Yellow Regular Fit Casual" data-price="900" src="../../assets/Men/4.Yellow Regular Fit Casual.jpg" data-per="79"></div>
            <div class="card_content">
              <h2 class="card_title">Yellow Regular..<span >₹900</span></h2>
              <p class="card_text">Yellow Regular Fit Casual</p>
            </div>
          </div>
        </li>
        <li class="cards_item col-md-4 col-sm-6 col-6">
          <div class="card">
            <div class="card_image"><img (click)="viewTopware($event)" data-name="Men Pink Regular Shirt" data-price="540" src="../../assets/Men/5.Men Pink Regular Fit Casual Shirt.jpg" data-per="84"></div>
            <div class="card_content">
              <h2 class="card_title">Men Pink..<span >₹540</span></h2>
              <p class="card_text">Men Pink Regular Shirt</p>
            </div>
          </div>
        </li>
        <li class="cards_item col-md-4 col-sm-6 col-6">
          <div class="card">
            <div class="card_image" ><img (click)="viewTopware($event)" data-name="All Primero Blue Shirt" data-price="500" src="../../assets/Men/6.All Primero Blue Casual Shirt.jpg" data-per="98" ></div>
            <div class="card_content">
              <h2 class="card_title">All Primero..<span >₹500</span></h2>
              <p class="card_text">All Primero Blue Shirt</p>
            </div>
          </div>
        </li>
      </ul>
    </div>
  
  
  
  
  
      <!--Pants-->
      <div class="main p-3">
        <h1 style="text-align: center; ">Men: Bottomwear</h1>
        <ul class="cards">
          <li class="cards_item col-md-4 col-sm-6 col-6">
            <div class="card">
              <div class="card_image"><img (click)="viewBottomware($event)" data-name="Men Dark Indigo Denim" data-price="620" src="../../assets/Men/7.Men Dark Indigo Slim Fit Denim.jpg" data-per="81"></div>
              <div class="card_content" >
                <h2 class="card_title">Men Dark..<span>₹620</span></h2>
                <p class="card_text">Men Dark Indigo Denim</p>
              </div>
            </div>
          </li>
          <li class="cards_item col-md-4 col-sm-6 col-6">
            <div class="card">
              <div class="card_image"><img (click)="viewBottomware($event)" data-name="Men M Stone Denim" data-price="750"  src="../../assets/Men/8.Men M Stone Denim.jpg" data-per="88"></div>
              <div class="card_content">
                <h2 class="card_title">Men M.Stone..<span>₹750</span></h2>
                <p class="card_text">Men M Stone Denim</p>
              </div>
            </div>
          </li>
          <li class="cards_item col-md-4 col-sm-6 col-6">
            <div class="card">
              <div class="card_image"><img (click)="viewBottomware($event)" data-name="Men Black Solid Jeans" data-price="840"  src="../../assets/Men/9.Men Black Solid Jeans.jpg" data-per="92"></div>
              <div class="card_content">
                <h2 class="card_title">Men Black..<span>₹840</span></h2>
                <p class="card_text">Men Black Solid Jeans</p>
              </div>
            </div>
          </li>
          <li class="cards_item col-md-4 col-sm-6 col-6">
            <div class="card">
              <div class="card_image"><img (click)="viewBottomware($event)" data-name="Men Tan Regular Denim" data-price="650"  src="../../assets/Men/10.Men Tan Denim.jpg" data-per="95"></div>
              <div class="card_content">
                <h2 class="card_title">Men Tan..<span>₹650</span></h2>
                <p class="card_text">Men Tan Regular Denim</p>
              </div>
            </div>
          </li>
          <li class="cards_item col-md-4 col-sm-6 col-6">
            <div class="card">
              <div class="card_image"><img (click)="viewBottomware($event)" data-name="Men Solid Grey Jeans" data-price="720"  src="../../assets/Men/11.Men Solid Grey Jeans.jpg" data-per="89"></div>
              <div class="card_content">
                <h2 class="card_title">Men Solid..<span>₹720</span></h2>
                <p class="card_text">Men Solid Grey Jeans</p>
              </div>
            </div>
          </li>
          <li class="cards_item col-md-4 col-sm-6 col-6">
            <div class="card">
              <div class="card_image"><img (click)="viewBottomware($event)" data-name="Men Solid Denim Jogger" data-price="550"  src="../../assets/Men/12.Men Solid Denim Jogger.jpg" data-per="91"></div>
              <div class="card_content">
                <h2 class="card_title">Men Solid..<span>₹550</span></h2>
                <p class="card_text">Men Solid Denim Jogger</p>
                <!--
                <button class="btn card_btn"   (click)="addToCart($event);" data-name="Men Solid Denim Jogger" data-price="50.66" data-size="34" >Add To Cart</button>
                -->
              </div>
            </div>
          </li>
        </ul>
      </div>
  
  
  <br>
  
  
  <!--Carousel Items-->
  <div style="background-color: black; color: white;">
    <br>
    <div class="newcollectionheading">
      <hr>
      <h1 style="text-align: center; ">Men: New In Capsule Collections</h1>
      <hr>
    </div>
    
    
    <div id="demo" class="carousel slide " data-ride="carousel">
  
      <!-- Indicators -->
      <ul class="carousel-indicators mb-0 pb-0">
        <li data-target="#demo" data-slide-to="0" class="active"></li>
        <li data-target="#demo" data-slide-to="1"></li>
        <li data-target="#demo" data-slide-to="2"></li>
      </ul>
    
      <!-- The slideshow -->
      <div class="carousel-inner no-padding my-5  ">
  
        <div class="carousel-item active">
          <div class="col-xs-6 col-sm-6 col-md-6" style="height: 18rem; ">
            <img (click)="viewTopware($event)" data-name="White Fest Kurta" data-price="980" src="../../assets/Men/M1.jpg" data-per="86" class="card-img-top " alt="Off White Festive Kurta">
                      <div class="card-body">
                        <h5 class="card-title">White Fest Kurta<span style="float: right;">₹980</span></h5><br><br><br>
                      </div>
          </div>
          <div class="col-xs-6 col-sm-6 col-md-6" style="height: 18rem;">
            <img (click)="viewTopware($event)" data-name="Black Casual Kurta" data-price="1250" src="../../assets/Men/M2.jpg" data-per="90" class="card-img-top " alt="Black Casual Kurta">
                      <div class="card-body">
                        <h5 class="card-title">Black Casual Kurta<span style="float: right;">₹1250</span></h5>
                      </div>
          </div>
          
        
        </div>
  
        <div class="carousel-item">
          <div class="col-xs-6 col-sm-6 col-md-6" style="height: 18rem;">
            <img (click)="viewTopware($event)" data-name="Men Reg Navy Kurta" data-price="1500" src="../../assets/Men/M3.jpg" data-per="81" class="card-img-top " alt="Men Navy Regular Fit Kurta">
                      <div class="card-body">
                        <h5 class="card-title">Men Reg Navy Kurta<span style="float: right;">₹1500</span></h5><br><br><br>
                      </div>
          </div>
          <div class="col-xs-6 col-sm-6 col-md-6" style="height: 18rem;">
            <img (click)="viewTopware($event)" data-name="Men solid Sweater" data-price="920" src="../../assets/Men/M4.jpg" data-per="85" class="card-img-top " alt="Men Solid Sweatshirt">
                      <div class="card-body">
                        <h5 class="card-title">Men solid Sweater<span style="float: right;">₹920</span></h5>
                      </div>
          </div>
          
        </div>
  
        <div class="carousel-item">
          <div class="col-xs-6 col-sm-6 col-md-6" style="height: 18rem;">
            <img (click)="viewTopware($event)" data-name="Men Grey Solid Jacket" data-price="1240" src="../../assets/Men/M5.jpg" data-per="98" class="card-img-top " alt="Men Grey Solid Jacket">
                      <div class="card-body">
                        <h5 class="card-title">Men Grey Solid Jacket<span style="float: right;">₹1240</span></h5><br><br><br>
                      </div>
          </div>
          <div class="col-xs-6 col-sm-6 col-md-6" style="height: 18rem;">
            <img (click)="viewTopware($event)" data-name="Men Printed Jacket" data-price="1150" src="../../assets/Men/M6.jpg" data-per="93" class="card-img-top " alt="Men Printed Jacket">
                      <div class="card-body" >
                        <h5 class="card-title">Men Printed Jacket<span style="float: right;">₹1150</span></h5>
                      </div>
          </div>
          
          
        
        </div>
    
    
      <!-- Left and right controls -->
      <a class="carousel-control-prev" href="#demo" data-slide="prev">
         <span class="carousel-control-prev-icon sp"></span>
      </a>
      <a class="carousel-control-next" href="#demo" data-slide="next">
         <span class="carousel-control-next-icon sp"></span>
      </a>
      </div>
  
    </div>
  </div>
  
  
  
  
  
  
    
  <h3 class="made_by">Made with ♡</h3>
  
  
  
  <!--
    carousel button 
    <button style="float: right; color: white; border: 0.5px solid white;" class="btn mr-4" (click)="addToCart($event);" data-name="Men Printed Jacket" data-price="32.43" data-size="Medium" ><sup>+</sup>Add</button>-->
  
  
  
    <button id="myBtn" (click)="gotoup()"><i style="color: black;" class="fa fa-chevron-circle-up"></i></button>

  
  
  
  
  
  
  
  