
<div class="row">
  <div class="col-75">
    <div  class="container">
      <form ngNativeValidate #ref="ngForm" (ngSubmit)="onSubmit(ref.value)">
      
        <div class="row">
          <div class=" p-5 col-50" style="background-color: black; color: whitesmoke;">
            <h3 >Billing Address</h3><br>
            <label for="fname"><i class="fa fa-user"></i> Full Name</label>
            <input type="text" minlength="10" pattern="^([a-zA-Z0-9]+|[a-zA-Z0-9]+\s{1}[a-zA-Z0-9]{1,}|[a-zA-Z0-9]+\s{1}[a-zA-Z0-9]{3,}\s{1}[a-zA-Z0-9]{1,})$" maxlength="20" id="fname" name="firstname" placeholder="John Cena" ngModel required>
            <label for="email"><i class="fa fa-envelope"></i> Email</label>
            <input type="email" pattern="^([a-zA-Z0-9_\-\.]+)@([a-zA-Z0-9_\-\.]+)\.([a-zA-Z]{2,5})$" id="email" name="email" placeholder="johncena@gmail.com" ngModel required>
            <label for="adr"><i class="fa fa-address-card-o"></i> Address</label>
            <input type="text" pattern="\A(.*?)\s+(\d+[a-zA-Z]{0,1}\s{0,1}[-]{1}\s{0,1}\d*[a-zA-Z]{0,1}|\d+[a-zA-Z-]{0,1}\d*[a-zA-Z]{0,1})" id="adr" name="address" placeholder="542 W. 15th Street" ngModel required>
            <label for="city"><i class="fa fa-institution"></i> City</label>
            <input type="text" id="city" pattern="^[a-zA-Z]+(?:[\s-][a-zA-Z]+)*$" name="city" placeholder="Hyderabad" ngModel required>

            <div class="row">
              <div class="col-50">
                <label for="state">State</label>
                <select class="custom-select"  required>
                  <option selected>TELANGANA</option>
                  <option *ngFor="let state of states">{{state}}</option>
                </select>             
               </div>
              <div class="col-50">
                <label for="zip">Zip</label>
                <input type="text" id="zip" pattern="([0-9]{6}|[0-9]{3}\s[0-9]{3})" name="zip" placeholder="10001" ngModel required>
              </div>
            </div>
          </div>

          <div class="p-5 col-50" style="background-color: black; color: whitesmoke;">
            <h3>Payment</h3>
            <label for="fname">Accepted Cards</label><span></span>
            <div class="icon-container">
              <i class="fa fa-cc-visa" style="color:navy;"></i>
              <i class="fa fa-cc-amex" style="color:blue;"></i>
              <i class="fa fa-cc-mastercard" style="color:red;"></i>
              <i class="fa fa-cc-discover" style="color:orange;"></i>
            </div>
            <label for="cname">Name on Card</label>
            <input type="text" maxlength="25" pattern="^([a-zA-Z0-9]+|[a-zA-Z0-9]+\s{1}[a-zA-Z0-9]{1,}|[a-zA-Z0-9]+\s{1}[a-zA-Z0-9]{3,}\s{1}[a-zA-Z0-9]{1,})$" id="cname" name="cardname" placeholder="John Cena" ngModel  required>
            <label for="ccnum">Credit card number</label>
            <input type="text" id="ccnum" name="cardnumber" placeholder="1111222233334444" ngModel pattern="^(?:4[0-9]{12}(?:[0-9]{3})?|[25][1-7][0-9]{14}|6(?:011|5[0-9][0-9])[0-9]{12}|3[47][0-9]{13}|3(?:0[0-5]|[68][0-9])[0-9]{11}|(?:2131|1800|35\d{3})\d{11})$" required>
            <label for="expmonth">Exp Month</label>
            <select class="custom-select"  required>
              <option selected>JANUARY</option>
              <option *ngFor="let month of months">{{month}}</option>
            </select>
            <div class="row">
              <div class="col-50">
                <label for="expyear">Exp Year</label>
                <select class="custom-select" required>
                  <option selected>2021</option>
                  <option *ngFor="let year of years">{{year}}</option>
                </select>              </div>
              <div class="col-50">
                <label for="cvv">CVV</label>
                <input type="number" maxlength="4"  pattern="^[0-9]{3}$" id="cvv" name="cvv" placeholder="352" ngModel maxlength="3" required>
              </div>
              
            </div>
          </div>
          
        </div>
        <div class="p-3">
          <input type="submit" value="Continue to checkout" class="btn ">
        </div>
      </form>
    </div>
  </div>
  <div class="col-25">
    <div style="background-color: black; color: whitesmoke;" class="container">
      <h4 class="pt-2 pb-2">Cart <span class="price" style="color:whitesmoke"><i class="fa fa-shopping-cart"></i> <b> {{count}}</b></span></h4>
      <li  *ngFor="let item of items; index as i;">     
            <p><i class="fa fa-circle"></i> {{item.name}}<span  style="float: right;">X{{item.count}}</span></p>
      </li>
      <br>
      <hr>
      <p>{{this.array1}}</p>
      <p>Total <span class="price" style="color:whitesmoke"><b>₹{{price}}</b></span></p>
    </div>
  </div>
</div>

<!--MODAL-->
<div class="modal fade" id="ismyModal" role="dialog">
  <div class="modal-dialog">
      <div class="modal-content">
          <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label=""><span>×</span></button>
           </div>

          <div class="modal-body">
             
  <div class="thank-you-pop">
    <img src="http://goactionstations.co.uk/wp-content/uploads/2017/03/Green-Round-Tick.png" alt="">
    <h1>Thank You!</h1>
    <p>Your submission is received and we will contact you soon</p>
    <h3 class="cupon-pop">Your Id: <span>12345</span></h3>
    
   </div>
               
          </div>

      </div>
  </div>
</div>



  <!-- The Modal -->
  <div class="modal" id="myModal" >
    <div class="modal-dialog">
      <div class="modal-content">
      
        <!-- Modal Header -->

        
        <!-- Modal body -->
        <div class="modal-body">
             
          <div class="thank-you-pop">
            <img src="http://goactionstations.co.uk/wp-content/uploads/2017/03/Green-Round-Tick.png" alt="">
            <h1>Thank You!</h1>
            <p>Your submission is received and we will contact you soon</p>
            <h3 class="cupon-pop">Your Id: <span>12345</span></h3>
            
           </div>
                       
                  </div>
        
        <!-- Modal footer -->

      </div>
    </div>
  </div>








  <ngx-spinner
  bdOpacity = 0.9
  bdColor = "#333"
  size = "medium"
  color = "#fff"
  type = "ball-newton-cradle"
  [fullScreen] = "true"
  >
  <p style="color: white" > Loading... </p>
  </ngx-spinner>
