<div class="container-fluid" style="padding: 0%;" >
    <img  src="../../assets/Men/kidsbg3.png" alt="">
  </div>
  
  
  <br>
  
    <!--Responsive cards-->
    <!--Boys-->
    <div class="main p-3">
      <h1 style="text-align: center; ">Boys: Collections</h1>
      <ul class="cards">
        <li class="cards_item col-md-4 col-sm-6 col-6">
          <div class="card">
            <div class="card_image"><img (click)="viewTopware2($event)" data-name="Traditional Maroon Printed Kurta" data-price="440"  src="../../assets/kids images/Traditional Maroon Printed Kurta(1).jpg" data-per="97"></div>
            <div class="card_content">
              <h2 class="card_title">Maroon Kurta..<span >₹440</span></h2>
              <p class="card_text">Traditional Maroon Kurta</p>
            </div>
          </div>
        </li>
        <li class="cards_item col-md-4 col-sm-6 col-6">
          <div class="card ">
            <div class="card_image"><img (click)="viewTopware2($event)" data-name="Fancy Royal Blue  Kurtha" data-price="600"  src="../../assets/kids images/Fancy Royal Blue  Kurtha(2).jpg" data-per="87"></div>
            <div class="card_content">
              <h2 class="card_title">Royal Blue..<span >₹600</span></h2>
              <p class="card_text">Fancy Royal Blue  Kurtha</p>
            </div>
          </div>
        </li>
        <li class="cards_item col-md-4 col-sm-6 col-6">
          <div class="card">
            <div class="card_image"><img (click)="viewTopware2($event)" data-name="Cozy Red&Blue Night Suit" data-price="900"  src="../../assets/kids images/Cozy Red&Blue Night Suit(3).jpg" data-per="88"></div>
            <div class="card_content">
              <h2 class="card_title">Cozy Red&Blue..<span>₹900</span></h2>
              <p class="card_text">Red&Blue Night Suit</p>
            </div>
          </div>
        </li>
        <li class="cards_item col-md-4 col-sm-6 col-6">
          <div class="card">
            <div class="card_image"><img (click)="viewTopware2($event)" data-name="Fayon Kids Printed Kurta" data-price="840"  src="../../assets/kids images/Fayon Kids Printed Kurta(4).jpg" data-per="96"></div>
            <div class="card_content">
              <h2 class="card_title">Printed Kurta..<span>₹840</span></h2>
              <p class="card_text">Fayon Kids Printed Kurta</p>
            </div>
          </div>
        </li>
        <li class="cards_item col-md-4 col-sm-6 col-6">
          <div class="card">
            <div class="card_image"><img (click)="viewTopware2($event)" data-name="Fayon Kids Blue Kurta" data-price="770"  src="../../assets/kids images/Fayon Kids Blue Kurta(5).jpg" data-per="90"></div>
            <div class="card_content">
              <h2 class="card_title">Blue Kurta..<span>₹770</span></h2>
              <p class="card_text">Fayon Kids Blue Kurta</p>
            </div>
          </div>
        </li>
        <li class="cards_item col-md-4 col-sm-6 col-6">
          <div class="card">
            <div class="card_image"><img (click)="viewTopware2($event)" data-name="Fayon Kids Burgundy Jacket" data-price="590"  src="../../assets/kids images//Fayon Kids Burgundy Jacket(6).jpg" data-per="83"></div>
            <div class="card_content">
              <h2 class="card_title">Fayon Kids..<span>₹590</span></h2>
              <p class="card_text">Fayon Kids Burgundy Jacket</p>
            </div>
          </div>
        </li>
      </ul>
    </div>
  
  
  
  
      <!--Girls-->
      <div class="main p-3">
        <h1 style="text-align: center; ">Girls: Collections</h1>
        <ul class="cards">
          <li class="cards_item col-md-4 col-sm-6 col-6">
            <div class="card">
              <div class="card_image"><img (click)="viewTopware2($event)" data-name="Elegant Black&Pink Dress" data-price="500"  src="../../assets/kids images/Elegant Black&Pink Dress(7).jpg" data-per="89"></div>
              <div class="card_content">
                <h2 class="card_title">Black&Pink..<span>₹500</span></h2>
                <p class="card_text">Elegant Black&Pink Dress</p>
              </div>
            </div>
          </li>
          <li class="cards_item col-md-4 col-sm-6 col-6">
            <div class="card">
              <div class="card_image"><img (click)="viewTopware2($event)" data-name="Beautiful Butterfly Pink Dress" data-price="560"  src="../../assets/kids images/Beautiful Butterfly Pink Dress(8).jpg" data-per="94"></div>
              <div class="card_content">
                <h2 class="card_title">Butterfly Pink..<span>₹560</span></h2>
                <p class="card_text">Beautiful Butterfly Pink Dress</p>
              </div>
            </div>
          </li>
          <li class="cards_item col-md-4 col-sm-6 col-6">
            <div class="card">
              <div class="card_image"><img (click)="viewTopware2($event)" data-name="Stylish Black&Pink Dress" data-price="880"  src="../../assets/kids images/Stylish Black&Pink Dress(9).jpg" data-per="91"></div>
              <div class="card_content">
                <h2 class="card_title">Black&Pink..<span>₹880</span></h2>
                <p class="card_text">Stylish Black&Pink Dress</p>
              </div>
            </div>
          </li>
          <li class="cards_item col-md-4 col-sm-6 col-6">
            <div class="card">
              <div class="card_image"><img (click)="viewTopware2($event)" data-name="Comfortable Cotton Night Wear" data-price="660"  src="../../assets/kids images/Comfortable Cotton Night Wear(10).jpg" data-per="98"></div>
              <div class="card_content">
                <h2 class="card_title">Comfortable...<span>₹660</span></h2>
                <p class="card_text">Comfortable Cotton Night Wear</p>
              </div>
            </div>
          </li>
          <li class="cards_item col-md-4 col-sm-6 col-6">
            <div class="card">
              <div class="card_image"><img (click)="viewTopware2($event)" data-name="Fancy Yellow Booti Anarkali" data-price="510"  src="../../assets/kids images/Fancy Yellow Booti Anarkali(11).jpg" data-per="80"></div>
              <div class="card_content">
                <h2 class="card_title">Fancy Yellow..<span>₹510</span></h2>
                <p class="card_text">Fancy Yellow Booti Anarkali</p>
              </div>
            </div>
          </li>
          <li class="cards_item col-md-4 col-sm-6 col-6">
            <div class="card">
              <div class="card_image"><img (click)="viewTopware2($event)" data-name="Pleasant Peach Girl Dress" data-price="680"  src="../../assets/kids images/Pleasant Peach Girl Dress(12).jpg" data-per="90"></div>
              <div class="card_content">
                <h2 class="card_title">Pleasant Peach..<span >₹680</span></h2>
                <p class="card_text">Pleasant Peach Girl Dress</p>
              </div>
            </div>
          </li>
        </ul>
      </div>
  
  
  <br>
  
  
  <!--Carousel Items-->
  <div style="background-color: black; color: white;">
    <br>
    <div class="newcollectionheading">
      <hr>
      <h1 style="text-align: center; ">Kids: New In Capsule Collections</h1>
      <hr>
    </div>
    
    
    <div id="demo" class="carousel slide " data-ride="carousel">
  
      <!-- Indicators -->
      <ul class="carousel-indicators mb-0 pb-0">
        <li data-target="#demo" data-slide-to="0" class="active"></li>
        <li data-target="#demo" data-slide-to="1"></li>
        <li data-target="#demo" data-slide-to="2"></li>
      </ul>
    
      <!-- The slideshow -->
      <div class="carousel-inner no-padding my-5  ">
  
        <div class="carousel-item active">
          <div class="col-xs-6 col-sm-6 col-md-6" style="height: 18rem; ">
            <img (click)="viewTopware2($event)" data-name="Yellow Girls Flamingo Dress" data-price="1290" src="../../assets/kids images/Yellow Girls Flamingo Dress(13).jpg" class="card-img-top " alt="Yellow Girls Flamingo Dress">
                      <div class="card-body">
                        <h5 class="card-title">Yellow Girls Flamingo Dress<span style="float: right;">₹1290</span></h5><br><br><br>
                      </div>
          </div>
          <div class="col-xs-6 col-sm-6 col-md-6" style="height: 18rem;">
            <img (click)="viewTopware2($event)" data-name="Pink&Yellow Gown" data-price="1260" src="../../assets/kids images/Pink&Yellow Gown and Jacket.jpg" class="card-img-top " alt="Pink&Yellow Gown and Jacket">
                      <div class="card-body">
                        <h5 class="card-title">Pink&Yellow Gownspan<span style="float: right;">₹1260</span></h5>
                      </div>
          </div>
          
        
        </div>
  
        <div class="carousel-item">
          <div class="col-xs-6 col-sm-6 col-md-6" style="height: 18rem;">
            <img (click)="viewTopware2($event)" data-name="Fancy Pink Netted Dress" data-price="990" src="../../assets/kids images/Fancy Pink Netted Dress(15).jpg" class="card-img-top " alt="Fancy Pink Netted Dress">
                      <div class="card-body">
                        <h5 class="card-title">Fancy Pink Netted Dress<span style="float: right;">₹990</span></h5><br><br><br>
                      </div>
          </div>
          <div class="col-xs-6 col-sm-6 col-md-6" style="height: 18rem;">
            <img (click)="viewTopware2($event)" data-name="Ravishing Red Dress" data-price="1050" src="../../assets/kids images/Ravishing Red Party Dress(16).jpg" class="card-img-top " alt="Ravishing Red Party Dress">
                      <div class="card-body">
                        <h5 class="card-title">Ravishing Red Dress<span style="float: right;">₹1050</span></h5>
                      </div>
          </div>
          
        </div>
  
        <div class="carousel-item">
          <div class="col-xs-6 col-sm-6 col-md-6" style="height: 18rem;">
            <img (click)="viewTopware2($event)" data-name="Urb-N-Angels Blue Minions" data-price="2000"  src="../../assets/kids images/Urb-N-Angels Blue Minions(17).jpg" class="card-img-top " alt="Urb-N-Angels Blue Minions">
                      <div class="card-body">
                        <h5 class="card-title">Urb-N-Angels Blue Minions<span style="float: right;">₹2000</span></h5><br><br><br>
                      </div>
          </div>
          <div class="col-xs-6 col-sm-6 col-md-6" style="height: 18rem;">
            <img (click)="viewTopware2($event)" data-name="Angels Blue Moustache" data-price="1800" src="../../assets/kids images/Urb-N-Angels Blue Moustache(18).jpg" class="card-img-top " alt="Urb-N-Angels Blue Moustache">
                      <div class="card-body">
                        <h5 class="card-title">Angels Blue Moustache<span style="float: right;">1800</span></h5>
                      </div>
          </div>
          
          
        
        </div>
    
    
      <!-- Left and right controls -->
      <a class="carousel-control-prev" href="#demo" data-slide="prev">
         <span class="carousel-control-prev-icon sp"></span>
      </a>
      <a class="carousel-control-next" href="#demo" data-slide="next">
         <span class="carousel-control-next-icon sp"></span>
      </a>
      </div>
  
    </div>
  </div>
  
  
  
  
  
  
    
  <h3 class="made_by">Made with ♡</h3>


  <button id="myBtn" (click)="gotoup()"><i style="color: black;" class="fa fa-chevron-circle-up"></i></button>
