


<ul  class="nav navbar-nav1 mr-auto  justify-content-end">
  <li  class="nav-item">
    <a  class="nav-link1" routerLink="home/minihome">Home</a>
  </li>
  <li  class="nav-item" *ngIf="!ls.isLoggedIn() ">
    <a  class="nav-link1" routerLink="login">login</a>
  </li>
  <li class="nav-item" *ngIf="ls.isLoggedIn() ">
    <a class="nav-link1" (click)="logout()" routerLink="login">logout</a>
  </li> 
  <li  class="nav-item" *ngIf=" !ls.isLoggedIn()">
    <a  class="nav-link1" routerLink="register" >Register</a>
  </li>
  <li  class="nav-item" *ngIf="ls.isLoggedIn() ">
    <a  class="nav-link1" routerLink="profile" >Profile</a>
  </li>
</ul>



<router-outlet></router-outlet>