<div class="container-fluid" style="padding: 0%;" >
    <img  src="../../assets/groceries/medicinebanner.jpg" alt="">
  </div>
  
  
  <br>
  
  
    <!--Responsive cards-->
    <!--Shirts-->
    <div class="main p-3">
      <h1 style="text-align: center; ">Tablets</h1>
      <ul class="cards">
        <li class="cards_item col-md-4 col-sm-6 col-6">
          <div class="card">
            <div class="card_image" ><img (click)="viewTopware($event)" data-name="paracetomol" data-price="30" src="../../assets/groceries/paracetamol-tablet-500x500.jpg" data-per="90" ></div>
            <div class="card_content">
              <h2 class="card_title">paracetomol..<span >₹30</span></h2>
              <p class="card_text">paracetamol-tablet 500mg</p>
            </div>
          </div>
        </li>
        <li class="cards_item col-md-4 col-sm-6 col-6">
          <div class="card">
            <div class="card_image"><img (click)="viewTopware($event)" data-name="Vitamin-E" data-price="20" src="../../assets/groceries/vitamin LC 500-E.jpg" data-per="95"></div>
            <div class="card_content">
              <h2 class="card_title">Vitamin E..<span >₹20</span></h2>
              <p class="card_text">Vitamin E LC-tablet</p>
            </div>
          </div>
        </li>
        <li class="cards_item col-md-4 col-sm-6 col-6">
          <div class="card">
            <div class="card_image"><img (click)="viewTopware($event)" data-name="lifcet-cold" data-price="10" src="../../assets/groceries/lifcet-cold.jpg" data-per="90"></div>
            <div class="card_content">
              <h2 class="card_title">lifcet-cold<span >₹10</span></h2>
              <p class="card_text">lifcet-cold tablets</p>
            </div>
          </div>
        </li>
        <li class="cards_item col-md-4 col-sm-6 col-6">
          <div class="card">
            <div class="card_image"><img (click)="viewTopware($event)" data-name="dolo" data-price="29" src="../../assets/groceries/dolo(650).jpg" data-per="79"></div>
            <div class="card_content">
              <h2 class="card_title">Dolo..<span >₹29</span></h2>
              <p class="card_text">Dolo (650)</p>
            </div>
          </div>
        </li>
        <li class="cards_item col-md-4 col-sm-6 col-6">
          <div class="card">
            <div class="card_image"><img (click)="viewTopware($event)" data-name="combiflam-tablet-" data-price="35" src="../../assets/groceries/combiflam-tablet-500x500.jpg" data-per="84"></div>
            <div class="card_content">
              <h2 class="card_title">combiflam-tablet..<span >₹35</span></h2>
              <p class="card_text">combiflam-tablet (500)mg</p>
            </div>
          </div>
        </li>
        <li class="cards_item col-md-4 col-sm-6 col-6">
          <div class="card">
            <div class="card_image" ><img (click)="viewTopware($event)" data-name="Meftal" data-price="21" src="../../assets/groceries/meftal-500mg-tab-500x500.jpg" data-per="98" ></div>
            <div class="card_content">
              <h2 class="card_title">Meftal<span >₹21</span></h2>
              <p class="card_text">Meftal 500mg</p>
            </div>
          </div>
        </li>
      </ul>
    </div>
  
  
  
  
  
      <!--Pants-->
      <div class="main p-3">
        <h1 style="text-align: center; ">Hygiene</h1>
        <ul class="cards">
          <li class="cards_item col-md-4 col-sm-6 col-6">
            <div class="card">
              <div class="card_image"><img (click)="viewBottomware($event)" data-name="sofy sanitary pad" data-price="59" src="../../assets/groceries/7-pads-sofy-anti-bacteria-extra-long-sanitary-napkin-500x500.jpg" data-per="81"></div>
              <div class="card_content" >
                <h2 class="card_title">Sanitary pad..<span>₹59</span></h2>
                <p class="card_text">Sofy sanitary pad (pack of 7pads)</p>
              </div>
            </div>
          </li>
          <li class="cards_item col-md-4 col-sm-6 col-6">
            <div class="card">
              <div class="card_image"><img (click)="viewBottomware($event)" data-name="Stayfree pads" data-price="121"  src="../../assets/groceries/stayfree-secure-sanitary-pad-500x500.jpg" data-per="88"></div>
              <div class="card_content">
                <h2 class="card_title">Stayfree..<span>₹121</span></h2>
                <p class="card_text">stayfree-secure-sanitary-pads</p>
              </div>
            </div>
          </li>
          <li class="cards_item col-md-4 col-sm-6 col-6">
            <div class="card">
              <div class="card_image"><img (click)="viewBottomware($event)" data-name="Whisper" data-price="29"  src="../../assets/groceries/whisper-sanitary-pads-choice-wings-2c-8-pads-500x500.jpg" data-per="92"></div>
              <div class="card_content">
                <h2 class="card_title">Whisper<span>₹29</span></h2>
                <p class="card_text">whisper-sanitary-pads-choice-wings-2c-8-pads</p>
              </div>
            </div>
          </li>
          <li class="cards_item col-md-4 col-sm-6 col-6">
            <div class="card">
              <div class="card_image"><img (click)="viewBottomware($event)" data-name="V-wash" data-price="171"  src="../../assets/groceries/vwash.jpg" data-per="95"></div>
              <div class="card_content">
                <h2 class="card_title">V-wash..<span>₹171</span></h2>
                <p class="card_text">V-wash 100ml</p>
              </div>
            </div>
          </li>
          <li class="cards_item col-md-4 col-sm-6 col-6">
            <div class="card">
              <div class="card_image"><img (click)="viewBottomware($event)" data-name="Rexona rollon" data-price="60"  src="../../assets/groceries/4134_Rexona-Shower-Fresh-Underarm-Odour-Protection-Roll-On-For-Women.jpg" data-per="89"></div>
              <div class="card_content">
                <h2 class="card_title">Rexona rollon..<span>₹60</span></h2>
                <p class="card_text">Rexona underarm rollon for girls</p>
              </div>
            </div>
          </li>
          <li class="cards_item col-md-4 col-sm-6 col-6">
            <div class="card">
              <div class="card_image"><img (click)="viewBottomware($event)" data-name="Veet wax strips" data-price="210"  src="../../assets/groceries/veet-wax-strip-500x500.jpg" data-per="91"></div>
              <div class="card_content">
                <h2 class="card_title">Veet wax Strips..<span>₹210</span></h2>
                <p class="card_text">Veet wax strips for girls</p>
                <!--
                <button class="btn card_btn"   (click)="addToCart($event);" data-name="Men Solid Denim Jogger" data-price="50.66" data-size="34" >Add To Cart</button>
                -->
              </div>
            </div>
          </li>
        </ul>
      </div>
  
  
  <br>
  
  
 
  
  
  
  
  
    
  <h3 class="made_by">Made with ♡</h3>
  
  
  
  <!--
    carousel button 
    <button style="float: right; color: white; border: 0.5px solid white;" class="btn mr-4" (click)="addToCart($event);" data-name="Men Printed Jacket" data-price="32.43" data-size="Medium" ><sup>+</sup>Add</button>-->
  
  
  
    <button id="myBtn" (click)="gotoup()"><i style="color: black;" class="fa fa-chevron-circle-up"></i></button>

  
  
  
  
  
  
  
  