<div class="container-fluid" style="padding: 0%;" >
  <img  src="../../assets/Men/womenbg5.jpg" alt="">
</div>

<br>

  <!--Responsive cards-->
  <!--Women topware-->
  <div class="main p-3">
    <h1 style="text-align: center; ">Women: Topwear</h1>
    <ul class="cards">
      <li class="cards_item col-md-4 col-sm-6 col-6">
        <div class="card">
          <div class="card_image"><img (click)="viewTopware($event)" data-name="Women Checkered Top Shirt" data-price="750"  data-per="86"  src="../../assets/women images/Women Checkered Top Shirt(1).jpg"></div>
          <div class="card_content">
            <h2 class="card_title">Women Checkered..<span>₹750</span></h2>
            <p class="card_text">Women Checkered Top Shirt</p>
          </div>
        </div>
      </li>
      <li class="cards_item col-md-4 col-sm-6 col-6">
        <div class="card">
          <div class="card_image"><img (click)="viewTopware($event)" data-name="Peach Casual Printed Shirt" data-price="650"  data-per="91"  src="../../assets/women images/Peach Casual Printed Shirt(2).jpg"></div>
          <div class="card_content">
            <h2 class="card_title">Peach Casual..<span>₹650</span></h2>
            <p class="card_text">Peach Casual Printed Shirt</p>
          </div>
        </div>
      </li>
      <li class="cards_item col-md-4 col-sm-6 col-6">
        <div class="card">
          <div class="card_image"><img (click)="viewTopware($event)" data-name="Round Neck Black Top" data-price="900"  data-per="98"  src="../../assets/women images/Round Neck Black Top(3).jpg"></div>
          <div class="card_content">
            <h2 class="card_title">Round Neck..<span>₹900</span></h2>
            <p class="card_text">Round Neck Black Top</p>
          </div>
        </div>
      </li>
      <li class="cards_item col-md-4 col-sm-6 col-6">
        <div class="card">
          <div class="card_image"><img (click)="viewTopware($event)" data-name="Black Solid Shrug" data-price="770"  data-per="85"  src="../../assets/women images/Black Solid Shrug(4).jpg"></div>
          <div class="card_content">
            <h2 class="card_title">Black Shrug..<span>₹770</span></h2>
            <p class="card_text">Black Solid Shrug</p>
          </div>
        </div>
      </li>
      <li class="cards_item col-md-4 col-sm-6 col-6">
        <div class="card">
          <div class="card_image"><img (click)="viewTopware($event)" data-name="Beige solid Shrug" data-price="880"  data-per="87"  src="../../assets/women images/Beige solid Shrug(5).jpg"></div>
          <div class="card_content">
            <h2 class="card_title">Beige Shrug..<span style="float: right; font-size: small; font-weight: 500;">₹880</span></h2>
            <p class="card_text">Beige solid Shrug</p>
          </div>
        </div>
      </li>
      <li class="cards_item col-md-4 col-sm-6 col-6">
        <div class="card">
          <div class="card_image"><img (click)="viewTopware($event)" data-name="Black&White Party Striped Dress" data-price="950"  data-per="93"  src="../../assets/women images/Black&White Party Striped Dress(6).jpg"></div>
          <div class="card_content">
            <h2 class="card_title">Black&White..<span>₹950</span></h2>
            <p class="card_text">Black&White Party Dress</p>
          </div>
        </div>
      </li>
    </ul>
  </div>




    <!--Women Bottomware-->
          <!--Women Pants-->
          <div class="main p-3">
            <h1 style="text-align: center; ">Women: Bottomwear</h1>
            <ul class="cards">
              <li class="cards_item col-md-4 col-sm-6 col-6">
                <div class="card">
                  <div class="card_image"><img (click)="viewBottomware($event)" data-name="Women M Stone Capri" data-price="690" src="../../assets/women images/Women M Stone Capri(7).jpg" data-per="81"></div>
                  <div class="card_content" >
                    <h2 class="card_title">Women M..<span>₹690</span></h2>
                    <p class="card_text">Women M Stone Capri</p>
                  </div>
                </div>
              </li>
              <li class="cards_item col-md-4 col-sm-6 col-6">
                <div class="card">
                  <div class="card_image"><img (click)="viewBottomware($event)" data-name="Women Solid Tregging" data-price="850"  src="../../assets/women images/Women Solid Tregging(8).jpg" data-per="88"></div>
                  <div class="card_content">
                    <h2 class="card_title">Women Solid..<span>₹850</span></h2>
                    <p class="card_text">Women Solid Tregging</p>
                  </div>
                </div>
              </li>
              <li class="cards_item col-md-4 col-sm-6 col-6">
                <div class="card">
                  <div class="card_image"><img (click)="viewBottomware($event)" data-name="Jet Black Denim Capri" data-price="840"  src="../../assets/women images/Jet Black Denim Capri(9).jpg" data-per="92"></div>
                  <div class="card_content">
                    <h2 class="card_title">Jet Black..<span>₹840</span></h2>
                    <p class="card_text">Jet Black Denim Capri</p>
                  </div>
                </div>
              </li>
              <li class="cards_item col-md-4 col-sm-6 col-6">
                <div class="card">
                  <div class="card_image"><img (click)="viewBottomware($event)" data-name="Women Black Track Capri" data-price="720"  src="../../assets/women images/Women Black Track Capri(10).jpg" data-per="95"></div>
                  <div class="card_content">
                    <h2 class="card_title">Women Black..<span>₹720</span></h2>
                    <p class="card_text">Women Black Track Capri</p>
                  </div>
                </div>
              </li>
              <li class="cards_item col-md-4 col-sm-6 col-6">
                <div class="card">
                  <div class="card_image"><img (click)="viewBottomware($event)" data-name="Women Solid Denim Capri" data-price="900"  src="../../assets/women images/Women Solid Denim Capri(11).jpg" data-per="89"></div>
                  <div class="card_content">
                    <h2 class="card_title">Women Solid..<span>₹900</span></h2>
                    <p class="card_text">Women Solid Denim Capri</p>
                  </div>
                </div>
              </li>
              <li class="cards_item col-md-4 col-sm-6 col-6">
                <div class="card">
                  <div class="card_image"><img (click)="viewBottomware($event)" data-name="Women Solid Denim Shorts" data-price="850"  src="../../assets/women images/Women Solid Denim Shorts(12).jpg" data-per="91"></div>
                  <div class="card_content">
                    <h2 class="card_title">Women Solid..<span>₹850</span></h2>
                    <p class="card_text">Women Solid Denim Shorts</p>
                    <!--
                    <button class="btn card_btn"   (click)="addToCart($event);" data-name="Men Solid Denim Jogger" data-price="50.66" data-size="34" >Add To Cart</button>
                    -->
                  </div>
                </div>
              </li>
            </ul>
          </div>
      
      
      <br>
      
      
      <!--Carousel Items-->
      <div style="background-color: black; color: white;">
        <br>
        <div class="newcollectionheading">
          <hr>
          <h1 style="text-align: center; ">Women: New In Capsule Collections</h1>
          <hr>
        </div>
        
        
        <div id="demo" class="carousel slide " data-ride="carousel">
      
          <!-- Indicators -->
          <ul class="carousel-indicators mb-0 pb-0">
            <li data-target="#demo" data-slide-to="0" class="active"></li>
            <li data-target="#demo" data-slide-to="1"></li>
            <li data-target="#demo" data-slide-to="2"></li>
          </ul>
        
          <!-- The slideshow -->
          <div class="carousel-inner no-padding my-5">
      
            <div class="carousel-item active">
              <div class="col-xs-6 col-sm-6 col-md-6" style="height: 18rem; ">
                <img (click)="viewTopware($event)" data-name="Light Pink Dupatta" data-price="920" src="../../assets/women images/Light Pink Dupatta(13).jpg" data-per="94" class="card-img-top " alt="Off White Festive Kurta">
                          <div class="card-body">
                            <h5 class="card-title">Light Pink Dupatta<span style="float: right;">₹920</span></h5><br><br><br>
                          </div>
              </div>
              <div class="col-xs-6 col-sm-6 col-md-6" style="height: 18rem;">
                <img (click)="viewTopware($event)" data-name="Indigo Printed Dupatta" data-price="1150" src="../../assets/women images/Indigo Printed Dupatta(14).jpg" data-per="90" class="card-img-top " alt="Black Casual Kurta">
                          <div class="card-body">
                            <h5 class="card-title">Indigo Printed Dupatta<span style="float: right;">₹1150</span></h5>
                          </div>
              </div>
              
            
            </div>
      
            <div class="carousel-item">
              <div class="col-xs-6 col-sm-6 col-md-6" style="height: 18rem;">
                <img (click)="viewTopware($event)" data-name="Pink Solid Sweater" data-price="1300" src="../../assets/women images/Pink Solid Sweater(15).jpg" data-per="96" class="card-img-top " alt="Men Navy Regular Fit Kurta">
                          <div class="card-body">
                            <h5 class="card-title">Pink Solid Sweater<span style="float: right;">₹1300</span></h5><br><br><br>
                          </div>
              </div>
              <div class="col-xs-6 col-sm-6 col-md-6" style="height: 18rem;">
                <img (click)="viewTopware($event)" data-name="Maroon Solid Sweater" data-price="1020" src="../../assets/women images/Maroon Solid Sweater(16).jpg" data-per="91" class="card-img-top " alt="Men Solid Sweatshirt">
                          <div class="card-body">
                            <h5 class="card-title">Maroon Solid Sweater<span style="float: right;">₹1020</span></h5>
                          </div>
              </div>
              
            </div>
      
            <div class="carousel-item">
              <div class="col-xs-6 col-sm-6 col-md-6" style="height: 18rem;">
                <img (click)="viewTopware($event)" data-name="Women Quiltted Jacket" data-price="1240" src="../../assets/women images/Women Quiltted Jacket(17).jpg" data-per="88" class="card-img-top " alt="Men Grey Solid Jacket">
                          <div class="card-body">
                            <h5 class="card-title">Women Quiltted Jacket<span style="float: right;">₹1240</span></h5><br><br><br>
                          </div>
              </div>
              <div class="col-xs-6 col-sm-6 col-md-6" style="height: 18rem;">
                <img (click)="viewTopware($event)" data-name="Navy Solid Jacket" data-price="1450" src="../../assets/women images/Navy Solid Jacket(18).jpg" data-per="89" class="card-img-top " alt="Men Printed Jacket">
                          <div class="card-body" >
                            <h5 class="card-title">Navy Solid Jacket<span style="float: right;">₹1450</span></h5>
                          </div>
              </div>
              
              
            
            </div>
        
        
          <!-- Left and right controls -->
          <a class="carousel-control-prev" href="#demo" data-slide="prev">
             <span class="carousel-control-prev-icon sp"></span>
          </a>
          <a class="carousel-control-next" href="#demo" data-slide="next">
             <span class="carousel-control-next-icon sp"></span>
          </a>
          </div>
      
        </div>
      </div>
      
      
      
      
      
      
        
      <h3 class="made_by">Made with ♡</h3>
      


      <button id="myBtn" (click)="gotoup()"><i style="color: black;" class="fa fa-chevron-circle-up"></i></button>
