<div class="container-fluid" style="padding: 0%;" >
    <img  src="../../assets/groceries/offer.jpg" alt="">
  </div>
  
 <!--Responsive cards-->
    <!--Shirts-->
    <div class="main p-3">
      <h1 style="text-align: center; ">Groceries</h1>
      <ul class="cards">
        <li class="cards_item col-md-4 col-sm-6 col-6">
          <div class="card">
            <div class="card_image" ><img (click)="viewGrocery($event)" data-name="5L oil Can" data-price="750" src="../../assets/groceries/oilcan.jpg" data-per="90" ></div>
            <div class="card_content">
              <h2 class="card_title">5l oil can<span >₹750</span></h2>
              <p class="card_text">5L Gold winner can</p>
            </div>
          </div>
        </li>
        <li class="cards_item col-md-4 col-sm-6 col-6">
          <div class="card">
            <div class="card_image"><img (click)="viewGrocery($event)" data-name="Dawat Biryani rice(5Kg)" data-price="500" src="../../assets/groceries/dawatbiryani.jpg" data-per="95"></div>
            <div class="card_content">
              <h2 class="card_title">Biryani rice..<span >₹500</span></h2>
              <p class="card_text">Dawat 5kg biryani rice</p>
            </div>
          </div>
        </li>
        <li class="cards_item col-md-4 col-sm-6 col-6">
          <div class="card">
            <div class="card_image"><img (click)="viewGrocery($event)" data-name="Surf Excel combo Detergent" data-price="300" src="../../assets/groceries/surfexcel.jpg" data-per="90"></div>
            <div class="card_content">
              <h2 class="card_title">Surf Excel Detergent<span >₹300</span></h2>
              <p class="card_text">Detergent</p>
            </div>
          </div>
        </li>
        <li class="cards_item col-md-4 col-sm-6 col-6">
          <div class="card">
            <div class="card_image"><img (click)="viewGrocery($event)" data-name="Honey" data-price="250" src="../../assets/groceries/honey.jpg" data-per="79"></div>
            <div class="card_content">
              <h2 class="card_title">Dabur Honey 500gms..<span >₹250</span></h2>
              <p class="card_text">Honey</p>
            </div>
          </div>
        </li>
        <li class="cards_item col-md-4 col-sm-6 col-6">
          <div class="card">
            <div class="card_image"><img (click)="viewGrocery($event)" data-name="Henry chocolate Pack" data-price="540" src="../../assets/groceries/chocolate.jpg" data-per="84"></div>
            <div class="card_content">
              <h2 class="card_title">Henry Chocolate Pack...<span >₹540</span></h2>
              <p class="card_text">Chocolates</p>
            </div>
          </div>
        </li>
        <li class="cards_item col-md-4 col-sm-6 col-6">
          <div class="card">
            <div class="card_image" ><img (click)="viewGrocery($event)" data-name="Green Era Green Tea(500gms)" data-price="500" src="../../assets/groceries/greentea.jpg" data-per="98" ></div>
            <div class="card_content">
              <h2 class="card_title">Green Era Green Tea..<span >₹200</span></h2>
              <p class="card_text">green tea 500gms</p>
            </div>
          </div>
        </li>
      </ul>
    </div>
  
  
  
  
  
      <!--Pants-->
      <div class="main p-3">
        <h1 style="text-align: center; "></h1>
        <ul class="cards">
          <li class="cards_item col-md-4 col-sm-6 col-6">
            <div class="card">
              <div class="card_image"><img (click)="viewGrocery($event)" data-name="Surf Excel Detergent" data-price="620" src="../../assets/groceries/surf(500).jpg" data-per="81"></div>
              <div class="card_content" >
                <h2 class="card_title">Surf Excel Detergent<span>₹620</span></h2>
                <p class="card_text">Detergent powder</p>
              </div>
            </div>
          </li>
          <li class="cards_item col-md-4 col-sm-6 col-6">
            <div class="card">
              <div class="card_image"><img (click)="viewGrocery($event)" data-name="Fortune oil (3L)" data-price="750"  src="../../assets/groceries/fortune(1).jpg" data-per="88"></div>
              <div class="card_content">
                <h2 class="card_title">Fortune oil<span>₹750</span></h2>
                <p class="card_text">edible oil (3L)</p>
              </div>
            </div>
          </li>
          <li class="cards_item col-md-4 col-sm-6 col-6">
            <div class="card">
              <div class="card_image"><img (click)="viewGrocery($event)" data-name="Sri Lalitha Brand Rice" data-price="840"  src="../../assets/groceries/lalithabrandrice.jpg" data-per="92"></div>
              <div class="card_content">
                <h2 class="card_title">Sri Lalitha Brand Rice<span>₹840</span></h2>
                <p class="card_text">rice(5kg)</p>
              </div>
            </div>
          </li>
          <li class="cards_item col-md-4 col-sm-6 col-6">
            <div class="card">
              <div class="card_image"><img (click)="viewGrocery($event)" data-name="Tata Salt" data-price="20"  src="../../assets/groceries/tatasalt1.jpg" data-per="95"></div>
              <div class="card_content">
                <h2 class="card_title">Tata Salt..<span>₹20</span></h2>
                <p class="card_text">salt (1kg)</p>
              </div>
            </div>
          </li>
          <li class="cards_item col-md-4 col-sm-6 col-6">
            <div class="card">
              <div class="card_image"><img (click)="viewGrocery($event)" data-name="Tata Toor Daal" data-price="120"  src="../../assets/groceries/toordall.jpg" data-per="89"></div>
              <div class="card_content">
                <h2 class="card_title">Tata Toor Daal<span>₹120</span></h2>
                <p class="card_text">Toor Daal(1000gms)</p>
              </div>
            </div>
          </li>
          <li class="cards_item col-md-4 col-sm-6 col-6">
            <div class="card">
              <div class="card_image"><img (click)="viewGrocery($event)" data-name="Warrior Perfume(Pack 3)" data-price="550"  src="../../assets/groceries/perfumewarrior.jpg" data-per="91"></div>
              <div class="card_content">
                <h2 class="card_title">Warrior Perfume..<span>₹550</span></h2>
                <p class="card_text">Perfume(pack of 3)</p>
                <!--
                <button class="btn card_btn"   (click)="addToCart($event);" data-name="Men Solid Denim Jogger" data-price="50.66" data-size="34" >Add To Cart</button>
                -->
              </div>
            </div>
          </li>
        </ul>
      </div>
  
  
  <br>
  
  
  <!--Carousel Items-->
  <div style="background-color: black; color: white;">
    <br>
    <div class="newcollectionheading">
      <hr>
      <h1 style="text-align: center; "> New Items</h1>
      <hr>
    </div>
    
    
    <div id="demo" class="carousel slide " data-ride="carousel">
  
      <!-- Indicators -->
      <ul class="carousel-indicators mb-0 pb-0">
        <li data-target="#demo" data-slide-to="0" class="active"></li>
        <li data-target="#demo" data-slide-to="1"></li>
        <li data-target="#demo" data-slide-to="2"></li>
      </ul>
    
      <!-- The slideshow -->
      <div class="carousel-inner no-padding my-5  ">
  
        <div class="carousel-item active">
          <div class="col-xs-6 col-sm-6 col-md-6" style="height: 18rem; ">
            <img (click)="viewGrocery($event)" data-name="Thumsup" data-price="80" src="../../assets/groceries/cooldrink.jpg" data-per="86" class="card-img-top " alt="Off White Festive Kurta">
                      <div class="card-body">
                        <h5 class="card-title">Cooldrink(Thumsup)<span style="float: right;">₹80</span></h5><br><br><br>
                      </div>
          </div>
          <div class="col-xs-6 col-sm-6 col-md-6" style="height: 18rem;">
            <img (click)="viewGrocery($event)" data-name="Dove" data-price="120" src="../../assets/groceries/dovesoap.jpg" data-per="90" class="card-img-top " alt="Black Casual Kurta">
                      <div class="card-body">
                        <h5 class="card-title">Dove soaps<span style="float: right;">₹120</span></h5>
                      </div>
          </div>
          
        
        </div>
  
        <div class="carousel-item">
          <div class="col-xs-6 col-sm-6 col-md-6" style="height: 18rem;">
            <img (click)="viewGrocery($event)" data-name="yardley Perfume" data-price="300" src="../../assets/groceries/yardley.jpg" data-per="81" class="card-img-top " alt="Men Navy Regular Fit Kurta">
                      <div class="card-body">
                        <h5 class="card-title">Yardley Perfume<span style="float: right;">₹3000</span></h5><br><br><br>
                      </div>
          </div>
          <div class="col-xs-6 col-sm-6 col-md-6" style="height: 18rem;">
            <img (click)="viewGrocery($event)" data-name="Mad angles" data-price="20" src="../../assets/groceries/madangles.jpg" data-per="85" class="card-img-top " alt="Men Solid Sweatshirt">
                      <div class="card-body">
                        <h5 class="card-title">Mad Angles<span style="float: right;">₹20</span></h5>
                      </div>
          </div>
          
        </div>
  
       
    
    
      <!-- Left and right controls -->
      <a class="carousel-control-prev" href="#demo" data-slide="prev">
         <span class="carousel-control-prev-icon sp"></span>
      </a>
      <a class="carousel-control-next" href="#demo" data-slide="next">
         <span class="carousel-control-next-icon sp"></span>
      </a>
      </div>
  
    </div>
  </div>
  
  
  
  
  
  
    
  <h3 class="made_by">Made with ♡</h3>
  
  
  
  <!--
    carousel button 
    <button style="float: right; color: white; border: 0.5px solid white;" class="btn mr-4" (click)="addToCart($event);" data-name="Men Printed Jacket" data-price="32.43" data-size="Medium" ><sup>+</sup>Add</button>-->
  
  
  
    <button id="myBtn" (click)="gotoup()"><i style="color: black;" class="fa fa-chevron-circle-up"></i></button>

  
  
  
  
  
  